@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow', sans-serif;
}

a:hover{
  text-decoration: none;
}

.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
    max-width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  
}

* {font-family:"微軟正黑體",Arial;}
body,html {margin:0;padding:0;overflow:hidden;}
body {background:#353c42;}
.blueScroll::-webkit-scrollbar-track {
    background-color: #393d3d;
}
.blueScroll::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
.blueScroll::-webkit-scrollbar-thumb {
    background-color: #272c30;
}

header.top-head {
  background:#272c30;
  height:75px;
  border-bottom:solid 1px #272c2f;
  box-shadow: 0 1px 1px #202427;
  box-sizing:border-box;
  color:white;line-height:55px;
  padding:10px;position:relative;font-size:0;
}
header.top-head > * {display:inline-block;vertical-align:top;}
header.top-head .title {
  text-shadow:0 1px 2px black;
  font-size:20px;font-family:Arial;
  width:100px;
}
header.top-head .function {
  text-align:right;width:calc( 100% - 100px );
}
header.top-head .function a {
  color:white;font-size:13px;padding:10px;
}

/* 反應 */
#left-aside:checked +
#right-aside +.down-content 
.aside-left ,
#right-aside:checked +.down-content 
.aside-right {width:0;}
#left-aside:checked +
#right-aside +.down-content 
> .content,
#right-aside:checked +.down-content 
> .content {width:calc( 100% - 200px );}
#left-aside:checked +
#right-aside:checked +.down-content 
> .content {width:100%;}


/* section */
section.down-content {
  height:calc( 100vh - 75px );font-size:0;
}
section.down-content > * {
  display:inline-block;vertical-align:top;
  height:100%;width:200px;box-sizing:border-box;
  transition:.5s;overflow:hidden;font-size:13px;
}
.down-content .aside-left,
.down-content .aside-right {
  background:#fff;
  box-shadow:1px 0 1px #2d3238;
}
.down-content .content {
  width:calc( 100% - 400px );
  font-size:13px;padding:15px;
  overflow-y:auto;height:100%;
}
.down-content .content .scroll-content {
  width:100%;height:2000px; background:#fff;
}